force-app/main/default/flows/Update_Case_Record_when_Rejected_reason_Missing_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Update Case Record when Rejected reason Missing Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case Record when Rejected reason Missing Documents</label>
    <loops>
        <name>Loop_2</name>
        <label>Loop through bank files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_bank_files</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delete_Bank_files</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_when_Documents_Missing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through each ContentDocumentLink record attached to the Case. Each current item represents one file link to process and delete.</description>
        <name>Loop_Through_Case_File_Links</name>
        <label>Loop Through Case File Links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_the_documents_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_files_from_case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_bank_files</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Bank_files</name>
        <label>Delete Bank files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Bank__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_2.ContentDocument.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
    </recordDeletes>
    <recordDeletes>
        <description>Delete the ContentDocumentLink record for the current loop item. This removes the file from the Case.</description>
        <name>Remove_files_from_case</name>
        <label>Remove files from case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Case_File_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Case_File_Links.ContentDocument.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_bank_files</name>
        <label>Get bank files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Bank__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_documents_records</name>
        <label>Get the documents records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Case_File_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_when_Documents_Missing</name>
        <label>Update Case when Documents Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rejection_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Documents_Missing</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_uploaded__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_documents_records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rejection_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Documents_Missing</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
